.formBody{
    height: auto;
    width: 38%;
    /* background-color: 
    #0c0630 
     ; */
     background: linear-gradient(90deg, rgba(173,36,30,1) 0%, rgba(115,24,32,1) 41%, rgba(65,13,34,1) 84%, rgba(96,20,32,1) 100%, rgba(211,44,28,1) 100%, rgba(0,212,255,1) 100%);
     /* color: black; */
    float: right;
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 0.5em;
    color: white;
}
.formBody .form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-top: 1em;

}
.formBody .form-group label{
    font-weight: bold;
    font-size: 1.2em;
}
.formBody .form-group.form-check{
    display: flex;
    flex-direction: row;
    
}
.formBody .form-group .form-control{
    width: 100%;
    color: white;
}
.formBody .btn.btn-primary{
    margin-top: 1em;
    
}
.form-group .avatar{
   
    

}