.createAccountBody{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

   
    display: flex;
    flex-direction: column;
}
.loginContainer{
    width: 100%;
    background-color: #0c0630;
    color: white;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.signupContainer{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080420;
    background-image: url('/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
